---
layout: default
title: Archive
---

Here lies a list of Fitzen's journal entries, grouped into cohesive stories. You may miss context from previous jobs, so if you prefer a chronological order, check on the top right. For your benefit, stories are listed starting from the bottom, their place chosen by the chronological order of the last entry.

{% assign adventureSets = site.posts | group_by: "adventure_set" %}
{% for adventureSet in adventureSets %}
 {% assign items = adventureSet.items | sort: "post_number", "last" %}
  <h2>{{ adventureSet.items.first.adventure_set }}</h2>
  <ul>
    {% for post in items %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}